.notificationList {
  flex:4;
  height:680px;

}

.header{
  font-size:large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(48, 76, 84);
  color:antiquewhite
}
.cell{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(35, 101, 120);
  color: rgb(245, 237, 227);
  font-size: medium;
}
